<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function redirecionaTela() {
            window.location.replace('/login')
        }
        function logout() {
            $.ajax({
                url: '/api/v1/logout',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: '',
                success: function (resultado) {
                    setTimeout(redirecionaTela, 100);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    setTimeout(redirecionaTela, 100);
                }
            });
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="/">Avaliação 360</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastrar-avaliacao">Cadastrar Avaliação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tabela-avaliacao-turma">Tabela Avaliações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inserir-notas">Inserir Notas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro-usuario">Cadastrar Usuario</a>
                </li>
                <li style="margin-left: 300px;" class="nav-item">
                    <a class="nav-link" href="#" onclick="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>