<html>
{% block head %}

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
{% endblock %}

<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>

        // função redireciona tela
        function redirecionaTela() {
            window.location.replace('/login')
        }

        function redirecionaTelaNotas() {
            window.location.replace('/inserir-notas')
        }

        // função logout
        function logout() {
            $.ajax({
                url: '/api/v1/logout',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: '',
                success: function (resultado) {
                    setTimeout(redirecionaTela, 100);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    setTimeout(redirecionaTela, 100);
                }
            });
        }

        // tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% endblock %}
    <style>
        .container {
            margin-top: 10vh;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="/">Avaliação 360</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if perfil.perfil == "aluno" or perfil.perfil == "professor" or perfil.perfil == "admin"%}
                        <a class="dropdown-item" href="/cadastrar-avaliacao">Cadastrar Avaliação</a>
                        {% endif %}
                        {% if perfil.perfil == "admin" %}
                        <a class="dropdown-item" href="/cadastro-usuario">Cadastrar Usuário</a>
                        {% endif %}
                        {% if perfil.perfil == "aluno" or perfil.perfil == "professor" or perfil.perfil == "admin"%}
                        <a class="dropdown-item" href="/inserir-notas">Cadastrar Notas</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Notas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <!-- <a class="dropdown-item" href="/tabela-avaliacao-turma">Tabela Avaliações</a> -->
                        <a class="dropdown-item" href="/usuarios">Usuários</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <button type="button" class="btn btn-secondary nav-item" data-toggle="tooltip" data-placement="top"
                    title="Logout" onclick="logout()" href="#">
                    <i class="bi bi-arrow-bar-left"></i>
                </button>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>