{% extends 'base.html' %}
<html>
{% block head %}

<head>
    <title>{% block title %}Tabela Avaliação Turma{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }

        .box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .voltar {
            justify-content: space-between;
        }

        .media {
            justify-content: space-between;
        }
    </style>
</head>
{% endblock %}
{% block content %}

<body>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function voltar() {
            window.location.replace("/usuarios");
        }
    </script>
    {% endblock %}
    <div class="container">
        <h1>Boletim</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>Média</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.titulo }}</td>
                    <td>{{ item.descricao }}</td>
                    {% if item.tipo == "auto" %}
                    <td>Auto Avaliação</td>
                    {% endif %}
                    {% if item.tipo == "colega" %}
                    <td>Avaliação Colega de Equipe</td>
                    {% endif %}
                    {% if item.tipo == "aluno" %}
                    <td>Avaliação Professor</td>
                    {% endif %}
                    <td>{{ item.media }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="box">
            <div class="voltar">
                <button type="submit" class="btn btn-primary" onclick="voltar()" data-toggle="tooltip"
                    data-placement="top" title="Voltar">
                    <i class="bi bi-arrow-return-left"></i>
                </button>
            </div>
            <div class="media">
                <h1>Média: {{ (media_total|float)|round(2, 'floor') }}</h1> 
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>