{% extends 'base.html' %}
<html>
{% block head %}

<head>
  <title>Tela de avaliação</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  {% set idUsuario = idUsuario %}
  <script>
    function redirecionaTela() {
      window.location.replace('/inserir-notas')
    }

    $(function () {
      $('#meu-form').on('submit', function (event) {
        event.preventDefault(); // Previne o envio padrão do formulário

        var url = $(this).attr('action'); // Obtém a URL definida na ação do formulário
        var dados = $(this).serializeArray(); // Obtém os dados do formulário como um array de objetos {name, value}

        // Converte os dados para um objeto JSON
        var dados_json = {};
        $.each(dados, function () {
          dados_json[this.name] = this.value;
        });
        var idUsuario = '{{ idUsuario }}';
        console.log(idUsuario);
        console.log(dados_json);
        // Envia a requisição POST com o cabeçalho Content-Type: application/json
        $.ajax({
          url: url + idUsuario,
          type: 'POST',
          dataType: 'json',
          contentType: 'application/json',
          data: JSON.stringify(dados_json),
          success: function (resultado) {
            // Processa a resposta da requisição
            localStorage.removeItem('avaliacao-salva')
            localStorage.setItem('avaliacao-salva', resultado);
            console.log(resultado);
            toastr.success("Avaliação salva com sucesso!");
            setTimeout(redirecionaTelaNotas, 1000);
          },
          error: function (jqXHR, textStatus, errorThrown) {
            toastr.error(jqXHR.responseJSON.message);
            console.error(errorThrown);
          }
        });
      });
    });
    $(document).ready(function () {
      $("#turmas").prop("disabled", true);
      $("#usuarios").change(function () {
        var usuarioId = $(this).val();
        if (usuarioId) {
          $("#turmas").prop("disabled", false);
          $("#turmas option").each(function () {
            $(this).show();
            if ($(this).data('usuario-id') != usuarioId) {
              $(this).hide();
            }
          });
        } else {
          $("#turmas").prop("disabled", true);
        }
      });
    });
  </script>
</head>
{% endblock %}
{% block content %}

<body>
  <div class="container">
    <h2>Nova Avaliação</h2>
    <form id="meu-form" action="/api/v1/avaliacao/cadastro/" method="post">
      <div class="form-group">
        <label for="descricao">Tipo de Avaliação:</label>
        <select class="form-control" id="tipo_avaliacao" name="tipo_avaliacao">
          <option value="" disabled selected>Selecione o Tipo de Avaliação</option>
          {% if grupo.grupo == "Professores" %}
          <option value="aluno">Avaliação Aluno</option>
          {% endif %}
          <option value="colega">Avaliação Colega de Equipe</option>
          <option value="auto">Auto Avaliação</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nome">Nome da Avaliação:</label>
        <input type="text" class="form-control" id="nome" name="avaliacao" placeholder="Digite o nome da avaliação">
      </div>
      <div class="form-group">
        <label for="descricao">Descrição:</label>
        <textarea class="form-control" id="descricao" rows="3" placeholder="Digite uma descrição para a avaliação"
          name="descricao"></textarea>
      </div>
      <div class="form-group">
        <label for="usuarios">Aluno Avaliado:</label>
        <select class="form-control" id="usuarios" name="usuario">
          <option value="" disabled selected>Selecione um Usuário</option>
          {% for usuario in usuarios %}
          <option value="{{usuario.id}}">{{usuario.nome}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="turmas">Turmas:</label>
        <select class="form-control" id="turmas" name="turma">
          <option value="" disabled selected>Selecione a Turma</option>
          {% for turma in turmas %}
          {% for disciplina in disciplinas %}
          {% if disciplina.id == turma.fk_id_disciplina %}
          <option value="{{ turma.id }}" data-usuario-id="{{ turma.fk_id_usuario }}">{{ disciplina.titulo }}</option>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
</body>
{% endblock %}

</html>