{% extends 'base.html' %}
<html>
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inserir Notas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    {% set editando_js = "true" if editando else "false" %}
    <script>
        $(function () {
            $('#meu-form').on('submit', function (event) {
                event.preventDefault();
                var url = $(this).attr('action');
                var dados = $(this).serializeArray();
                var editando = '{{ editando_js }}' === 'true';

                var dados_json = {};
                const avaliacaoObj = dados.find((obj) => obj.name === "avaliacao");
                const newArray = dados.filter((obj) => obj.name !== "avaliacao");
                dados = newArray;
                for (var i = 0; i < dados.length; i++) {
                    var partes = dados[i].name.split("-");
                    dados_json[partes[1].trim()] = dados[i].value;
                }
                if (avaliacaoObj) {
                    dados_json[avaliacaoObj.name] = avaliacaoObj.value;
                }
                console.log(editando);
                console.log(dados_json);
                $.ajax({
                    url: url,
                    type: editando ? 'PUT' : 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(dados_json),
                    success: function (resultado) {
                        console.log(resultado);
                        toastr.success(resultado.message);
                        if (editando) {
                            setTimeout(redirecionaTela, 1000);
                        } else {
                            setTimeout(redirecionaTelahHome, 1000);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('Erro aaaaa', errorThrown);
                    }
                });
            });
        });
    </script>
</head>
{% endblock %}
{% block content %}

<body>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const avaliacaoId = "{{ avaliacaoId }}";

        function redirecionaTela() {
            window.location.replace('/tabela-avaliacao-turma/' + avaliacaoId);
        }
        function redirecionaTelahHome() {
            window.location.replace('/');
        }
    </script>
    {% endblock %}
    <div class="container">
        <h1>Inserir Notas</h1>
        {% set notas_dict = {} %}
        {% for nota in notaAvalia %}
        {% set notas_dict = notas_dict.update({(nota.habilidade_atitude.titulo): nota.valor}) %}
        {% endfor %}
        <form id="meu-form"
            action="{{ '/api/v1/nota-avalia/editar/' + (avaliacaoId|string) if editando else '/api/v1/nota-avalia/cadastro' }}"
            method="post">
            {% if visualizando != True and editando != True%}
            <select class="form-control" id="avaliacao" name="avaliacao">
                <option value="" disabled selected>Selecione uma Avaliação</option>
                {% for avaliacao in avaliacao %}
                <option value="{{avaliacao.id}}">{{avaliacao.titulo}}</option>
                {% endfor %}
            </select>
            {% endif %}
            {% for categoria, itens, peso_categoria in matriz_avaliacao %}
            {% if grupo.grupo == "Professores" and categoria == "Conhecimentos"%}
            <h2>{{ categoria }}</h2>
            <div class="form-group">
                {% for criterio, peso in itens.items() %}
                <label for="{{ categoria }}-{{ criterio }}">{{ criterio }}</label>
                <input type="text" class="form-control" id="{{ categoria }}-{{ criterio }}"
                    name="{{ categoria }}-{{ criterio }}"
                    value="{{ (notas_dict[criterio]|int) if criterio in notas_dict else '' }}" required {{ "disabled" if
                    visualizando==True else "" }}>
                {% endfor %}
            </div>
            {% endif %}
            {% if categoria != "Conhecimentos" or notas_dict|length > 6 %}
            <h2>{{ categoria }}</h2>
            <div class="form-group">
                {% for criterio, peso in itens.items() %}
                <label for="{{ categoria }}-{{ criterio }}">{{ criterio }}</label>
                <input type="text" class="form-control" id="{{ categoria }}-{{ criterio }}"
                    name="{{ categoria }}-{{ criterio }}"
                    value="{{ (notas_dict[criterio]|int) if criterio in notas_dict else '' }}" required {{ "disabled" if
                    visualizando==True else "" }}>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            {% if visualizando != True %}
            <button type="submit" class="btn btn-primary">Salvar</button>
            {% endif %}
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSG+p"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var inputs = document.querySelectorAll('input[type="text"]');
            inputs.forEach(function (input) {
                input.addEventListener('input', function () {
                    // Remove caracteres indesejados
                    input.value = input.value.replace(/[^0-9]/g, '');

                    // Verifica o valor e limita o intervalo de 0 a 10
                    var value = parseInt(input.value);
                    if (isNaN(value)) {
                        input.value = '';
                    } else if (value > 10) {
                        input.value = 10;
                    } else if (value < 0) {
                        input.value = 0;
                    }
                });
            });
        });
    </script>
</body>
{% endblock %}

</html>