{% extends 'base.html' %}
<html>
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inserir Notas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function redirecionaTela() {
            window.location.replace('/')
        }
        $(function () {
            $('#meu-form').on('submit', function (event) {
                event.preventDefault(); // Previne o envio padrão do formulário

                var url = $(this).attr('action'); // Obtém a URL definida na ação do formulário
                var dados = $(this).serializeArray(); // Obtém os dados do formulário como um array de objetos {name, value}

                // Converte os dados para um objeto JSON
                var dados_json = {};
                const avaliacaoObj = dados.find((obj) => obj.name === "avaliacao");
                console.log(avaliacaoObj);
                const newArray = dados.filter((obj) => obj.name !== "avaliacao");
                dados = newArray;
                for (var i = 0; i < dados.length; i++) {
                    var partes = dados[i].name.split("-"); // Divide o nome em duas partes separadas por hífen
                    dados_json[partes[1].trim()] = dados[i].value; // Atualiza o nome do objeto JSON com o texto após o hífen
                }
                // Adiciona o avaliacaoObj ao objeto dados_json
                dados_json[avaliacaoObj.name] = avaliacaoObj.value;

                console.log(dados_json);
                // Envia a requisição POST com o cabeçalho Content-Type: application/json
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify(dados_json),
                    success: function (resultado) {
                        setTimeout(redirecionaTela, 1000);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error('asdasd', errorThrown);
                    }
                });
            });
        });
    </script>
</head>
{% endblock %}
{% block content %}

<body>
    <div class="container">
        <h1>Inserir Notas</h1>
        {% set notas_dict = {} %}
        {% for nota in notaAvalia %}
        {% set notas_dict = notas_dict.update({(nota.habilidade_atitude.titulo): nota.valor}) %}
        {% endfor %}
        <form id="meu-form" action="/api/v1/nota-avalia/cadastro" method="post">
            {% if visualizando != True %}
            <select class="form-control" id="avaliacao" name="avaliacao">
                <option value="" disabled selected>Selecione uma Avaliação</option>
                {% for avaliacao in avaliacao %}
                <option value="{{avaliacao.id}}">{{avaliacao.titulo}}</option>
                {% endfor %}
            </select>
            {% endif %}
            {% for categoria, itens, peso_categoria in matriz_avaliacao %}
            {% if grupo.grupo == "Professores" and categoria == "Conhecimentos"%}
            <h2>{{ categoria }}</h2>
            <div class="form-group">
                {% for criterio, peso in itens.items() %}
                <label for="{{ categoria }}-{{ criterio }}">{{ criterio }}</label>
                <input type="text" class="form-control" id="{{ categoria }}-{{ criterio }}"
                    name="{{ categoria }}-{{ criterio }}"
                    value="{{ notas_dict[criterio] if criterio in notas_dict else '' }}" required {{ "disabled" if
                    visualizando==True else "" }}>
                {% endfor %}
            </div>
            {% endif %}
            {% if categoria != "Conhecimentos" or notas_dict|length > 6 %}
            <h2>{{ categoria }}</h2>
            <div class="form-group">
                {% for criterio, peso in itens.items() %}
                <label for="{{ categoria }}-{{ criterio }}">{{ criterio }}</label>
                <input type="text" class="form-control" id="{{ categoria }}-{{ criterio }}"
                    name="{{ categoria }}-{{ criterio }}"
                    value="{{ notas_dict[criterio] if criterio in notas_dict else '' }}" required {{ "disabled" if
                    visualizando==True else "" }}>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSG+p"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var inputs = document.querySelectorAll('input[type="text"]');
            inputs.forEach(function (input) {
                input.addEventListener('input', function () {
                    var value = parseInt(input.value);
                    if (isNaN(value)) {
                        input.value = '';
                    } else if (value > 10) {
                        input.value = 10;
                    } else if (value < 0) {
                        input.value = 0;
                    }
                });
            });
        });
    </script>
</body>
{% endblock %}

</html>