{% extends 'base.html' %}
<html>
{% block head %}

<head>
    <title>{% block title %}Tabela Avaliação Turma{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }


        .box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .voltar {
            justify-content: space-between;
        }

        .media {
            justify-content: space-between;
        }
    </style>
</head>
{% endblock %}
{% block content %}

<body>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        function voltar() {
            const teste = localStorage.getItem('turmas')
            window.location.replace('/turmas/' + teste);
        }
        function deleteAvaliacao(avaliacaoId) {
            if (confirm('Deseja realmente deletar essa avaliação?')) {
                $.ajax({
                    url: '/api/v1/nota-avalia/deletar/' + avaliacaoId,
                    type: 'DELETE',
                    success: function (response) {
                        toastr.success(response.message);
                        location.reload();
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        toastr.error("Erro ao deletar avaliação: " + errorThrown);
                    }
                });
            }
        }
        function redirecionaTelahHome() {
            window.location.replace('/');
        }
        function logout() {
            $.ajax({
                url: '/api/v1/logout',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: '',
                success: function (resultado) {
                    setTimeout(redirecionaTelahHome, 100);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    setTimeout(redirecionaTelahHome, 100);
                }
            });
        }
    </script>
    {% endblock %}
    <div class="container">
        <div class="voltar">
            <h1>Avaliações</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo Avaliação</th>
                    <th>Nome Aluno</th>
                    <th>Titulo Avaliação</th>
                    <th>Status</th>
                    {% if perfil.perfil != 'aluno' %}
                    <th>Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    {% if item.tipo_avaliacao == "auto" %}
                    <td>Auto Avaliação</td>
                    {% endif %}
                    {% if item.tipo_avaliacao == "colega" %}
                    <td>Avaliação Colega de Equipe</td>
                    {% endif %}
                    {% if item.tipo_avaliacao == "aluno" %}
                    <td>Avaliação Professor</td>
                    {% endif %}
                    <td>{{ item.nome }}</td>
                    <td>{{ item.titulo }}</td>
                    {% if item.tem_nota == 0 %}
                    <td>Em aberto</td>
                    {% endif %}
                    {% if item.tem_nota == 1 %}
                    <td>Concluída</td>
                    {% endif %}
                    {% if perfil.perfil != 'aluno' %}
                    <td>
                        <button type="button" class="btn btn-primary" data-id="{{ item.id }}" data-toggle="tooltip"
                            data-placement="top" title="Visualizar"
                            onclick="window.location.replace('/visualiza-avaliacao/' + this.getAttribute('data-id'))"><i
                                class="bi bi-info-circle"></i></button>
                        <button type="button" class="btn btn-primary" data-id="{{ item.id }}" data-toggle="tooltip"
                            data-placement="top" title="Editar"
                            onclick="window.location.replace('/edita-avaliacao/' + this.getAttribute('data-id'))"><i
                                class="bi bi-pencil"></i></button>
                        <button type="button" class="btn btn-danger" data-id="{{ item.id }}" data-toggle="tooltip"
                            data-placement="top" title="Excluir"
                            onclick="deleteAvaliacao(this.getAttribute('data-id'))"><i class="bi bi-trash"></i></button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="box">
            <div class="voltar">
                <button type="submit" class="btn btn-primary" onclick="voltar()" data-toggle="tooltip"
                    data-placement="top" title="Voltar">
                    <i class="bi bi-arrow-return-left"></i>
                </button>
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>