{% extends 'base.html' %}
<html>
{% block head %}

<head>
    <title>{% block title %}Tabela Usuario{% endblock %}</title>
    <style>
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }

        .box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Insira as mensagens do flash em uma variável JavaScript
            var flashMessages = JSON.parse('{{ get_flashed_messages(with_categories=true)|tojson }}');

            // Verifique se há mensagens flash
            if (flashMessages.length > 0) {
                flashMessages.forEach(function (message) {
                    var category = message[0];
                    var content = message[1];
                    toastr[category](content);
                });
            }
        });

        function visualizarBoletim(nome, idTurma) {
            console.log(idTurma)
            $.ajax({
                url: "/boletim/" + nome + "/" + idTurma,
                method: "GET",
                success: function (response) {
                    if (response.error) {
                        console.log('asdasd');
                        toastr.error("Não há avaliações disponíveis para este usuário.");
                    } else {
                        window.location.replace("/boletim/" + nome + "/" + idTurma);
                    }
                }
            });
        }

        function buscaAvaliacoes(id, idTurma) {
            console.log(idTurma)
            $.ajax({
                url: "/tabela-avaliacao-turma/" + id + "/" + idTurma,
                method: "GET",
                success: function (response) {
                    if (response.error) {
                        console.log('asdasd');
                        toastr.error("Não há avaliações disponíveis para este usuário.");
                    } else {
                        window.location.replace("/tabela-avaliacao-turma/" + id + "/" + idTurma);
                    }
                }
            });
        }

        function deletaTurma(id) {
            if (confirm('Deseja realmente deletar essa turma?')) {
                $.ajax({
                    url: "/api/v1/turma/" + id,
                    method: "DELETE",
                    success: function (response) {
                        toastr.success(response.message);
                        voltar();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.error(jqXHR.responseJSON.message);
                    }
                });
            }
        }

        function voltar() {
            window.location.replace("/usuarios");
        }
    </script>
</head>
{% endblock %}
{% block content %}

<body>
    <div class="container">
        <h1>Disciplinas Aluno</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Sala</th>
                    <th>Equipe</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in turmas %}
                <tr>
                    <td>{{ item.titulo }}</td>
                    <td>{{ item.numero }}</td>
                    <td>{{ item.apelido }}</td>
                    <td>
                        <button type="submit" class="btn btn-primary" data-nome="{{ item.nome }}"
                            data-idturma="{{ item.id_turma }}" data-toggle="tooltip" data-placement="top" title="Boletim"
                            onclick="visualizarBoletim(this.getAttribute('data-nome'), this.getAttribute('data-idturma'))">
                            <i class="bi bi-mortarboard-fill"></i>
                        </button>
                        <button type="submit" class="btn btn-primary" data-id="{{ item.id }}"
                            data-idturma="{{ item.id_turma }}" data-toggle="tooltip" data-placement="top" title="Avaliações"
                            onclick="buscaAvaliacoes(this.getAttribute('data-id'), this.getAttribute('data-idturma'))">
                            <i class="bi bi-layout-text-sidebar-reverse"></i>
                        </button>
                        <button type="button" class="btn btn-danger" data-idturma="{{ item.id_turma }}" data-toggle="tooltip"
                            data-placement="top" title="Excluir" onclick="deletaTurma(this.getAttribute('data-idturma'))">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="box">
            <div class="voltar">
                <button type="submit" class="btn btn-primary" onclick="voltar()" data-toggle="tooltip"
                    data-placement="top" title="Voltar">
                    <i class="bi bi-arrow-return-left"></i>
                </button>
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>