{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Tabela Usuario{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    {% block scripts %}
    <script>
    </script>
    {% endblock %}
	{% block content %}
    <div class="container">
        <h1>Tabela Usuário</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>RA</th>
                    <th>CPF</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for item in usuarios %}
                <tr>
                    <td>{{ item.nome }}</td>
                    <td>{{ item.ra }}</td>
                    <td>{{ item.cpf }}</td>
                    <td>
                        <button type="submit" class="btn btn-primary" data-id="{{ item.nome }}" onclick="window.location.replace('/boletim/' + this.getAttribute('data-id'))">Boletim</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
	{% endblock %}
</body>
</html>